<div class='row'>
	<h2> About Us</h2>
</div>

<div class="row">
	<div class= "col-sm-12"> 
		The Team
Kevin Systrom (CEO, co-founder)

Kevin Systrom (@kevin) is the CEO and co-founder of Instagram, a community of more than 300 million who capture and share the world's moments on the service. He is responsible for the company's overall vision and strategy as well as day-to-day operations.

Since the beginning, Kevin has focused on simplicity and inspiring creativity through solving problems with thoughtful product design. As a result, Instagram has become the home for visual storytelling for everyone from celebrities, newsrooms and brands, to teens, musicians and people with a creative passion.

Prior to founding Instagram, Kevin was part of the startup Odeo, which later became Twitter, and spent two years at Google working on products like Gmail and Google Reader. He graduated from Stanford University with a BS in Management Science & Engineering.

Mike Krieger (technical lead, co-founder)

Mike Krieger (@mikeyk) is the technical lead and co-founder of Instagram, a global community that shares more than 60 million photos every day. As the head of engineering, Mike focuses on building products that bring out the creativity in all of us.

A native of São Paulo, Brazil, Mike holds an MS in Symbolic Systems from Stanford University. Prior to founding Instagram, he worked at Meebo as a user experience designer and front-end engineer.




	</div>



</div>