@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}




/*custom class */
.custom-nav{
  background-color:#eaeaea !important;
}


.pro-img-holder{

  margin-bottom:50px;
}

.pro-img{
  width: 270px;
  height:320px;
 
}
.pro-img img{
 
  
    display: block;
    max-width:250px;
    max-height:300px;
    width: auto;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
}
.pro-desc{
  padding-left:10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
} 

/* forms for user sign up */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* universal */

html {
  overflow-y: scroll;
  overflow-x : scroll;
}

body {
   padding-top: 60px; 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

}

.center h1 {
  margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  padding-left: 10px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $gray-light;
  padding-left:5px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
  	color: white;
  	text-decoration: none;
  }
}


/* custom carousel


.custom_carousel{

	display: block;
	width: 600px;
	height: 700px; 
}
*/

.item{
    background: #333;    
    text-align: center;
    height: 600px !important;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: #777;
  a{
  	color: $gray;
  	&:hover{
  		color: $gray-darker;
  	}
  }
  small{
  	float: left;
  }
  ul{
  	float: right;
  	list-style: none;
  	li{
  		float: left;
  		margin-left: 15px;
  	}
  }
}



